<div class="home-block">

  <form>
    <div class="container  ">
      <div class="form-group col-md-12">
        <label for="formGroupExampleInput2">
          <h4><u>............................................ APPLICATION FOR SCHOLARSHIPS FROM STUDENT WELFARE AND
              DISTRESS FUND ....................................</u></h4>
        </label>
      </div>

    </div>
    <!-- 1 st part-->
    <div class="container well ">
      <p>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample1"
          aria-expanded="false" aria-controls="collapseExample"><span class="glyphicon glyphicon-fullscreen"
            aria-hidden="true"></span>
        </button>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Section 1</span>
      </p>
      <div class="collapse" id="collapseExample1">
        <div class="form-group col-md-6">
          <label for="formGroupExampleInput">Course for which applicant has been selected: </label>
          <select id="inputState" class="form-control">
            <option selected>Degree...</option>
            <option>BSc(Hons)in Software Engineering</option>
            <option>BSc(Hons)in Computer Science</option>
            <option>BSc in Computer Science</option>
            <option>BSc(Hons)in Information System</option>
            <option>BSc in Information System</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="formGroupExampleInput2">Full Name: </label>
          <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Mr./Miss./Mrs./Rev">
        </div>
        <div class="form-group col-md-12">
          <label for="formGroupExampleInput2">Permanent Address: </label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="form-group col-md-6">
          <label for="formGroupExampleInput2">Registration Number: </label>
          <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Registration Number">
        </div>
        <div class="form-group col-md-6">
          <label for="formGroupExampleInput2">Contact Numbers: </label>
          <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Contact Numbers">
        </div>
        <div class="form-group col-md-6">
          <label for="formGroupExampleInput2"> Email Address: </label>
          <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Email Address">
        </div>
        <div class="form-group col-md-6">
          <label for="formGroupExampleInput2"> Division of the Gramaseva Niladhari: </label>
          <input type="text" class="form-control" id="formGroupExampleInput2"
            placeholder="Division of the Gramaseva Niladhari:">
        </div>
        <div class="form-group col-md-6">
          <label for="formGroupExampleInput2"> Write down the distance (to the closest kilometer) from your
            Permanent residence (i.e. your home) to the University of Colombo.
            (1 mile = 1.6 k.m.)
          </label>
          <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Ex-: 5km">
        </div>
        <div class="form-group col-md-6">
          <label for="formGroupExampleInput2"> District: </label>
          <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="District">
        </div>

      </div>
    </div>

    <!-- 2 nd part -->
    <div class="container well ">
      <p>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample2"
          aria-expanded="false" aria-controls="collapseExample"><span class="glyphicon glyphicon-fullscreen"
            aria-hidden="true"></span>
        </button>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Section 2</span>
      </p>
      <div class="collapse" id="collapseExample2">
        <div class="form-group col-md-12">
          <label for="formGroupExampleInput2"><span class="glyphicon glyphicon-record" aria-hidden="true"></span>Reason
            for applying for a Scholarship: </label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>
        </div>
      </div>
    </div>
    <!-- 3 rd part -->
    <div class="container well ">
      <p>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample3"
          aria-expanded="false" aria-controls="collapseExample"><span class="glyphicon glyphicon-fullscreen"
            aria-hidden="true"></span>
        </button>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Section 3</span>
      </p>
      <div class="collapse" id="collapseExample3">
        <div class="form-group col-md-12">
          <label for="formGroupExampleInput2"><span class="glyphicon glyphicon-record" aria-hidden="true"></span>If you
            are now receiving a scholarship or any other funds from the
            government or local
            Government authorities or other institution or association, state the amount received and other details:
          </label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>
        </div>
      </div>
    </div>
    <!--4 th part-->
    <div class="container well ">
      <p>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample4"
          aria-expanded="false" aria-controls="collapseExample"><span class="glyphicon glyphicon-fullscreen"
            aria-hidden="true"></span>
        </button>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Section 4</span>
      </p>
      <div class="collapse" id="collapseExample4">
        <div class="form-group col-md-12">
          <div class="row">
            <div class="col-md-5">
              <label for="formGroupExampleInput2"><span class="glyphicon glyphicon-record" aria-hidden="true"></span>Is
                your family receiving “Samurdhi” allowance :
              </label>
            </div>
            <div class="col-md-7">
              <div class="form-check">
                <input class="form-check-input custom-control-input" type="radio" name="exampleRadios"
                  id="exampleRadios1" value="option1" (click)=" fileaddYes()">
                <label class="form-check-label" for="exampleRadios1">
                  <i>Yes</i>
                </label>

              </div>
              <div class="form-check">
                <input class="form-check-input custom-control-input" type="radio" name="exampleRadios"
                  id="exampleRadios2" value="option2" (click)=" fileaddNo()">
                <label class="form-check-label" for="exampleRadios2">
                  <i>No</i>
                </label>
              </div>
            </div>
          </div>
          <div *ngIf="fileAddView">
            <label class="bg-primary">Please attach certified copies of proof documents</label>
            <input class="custom-file-input" type="file" name="fileToUpload" id="fileToUpload">
          </div>

        </div>
      </div>
    </div>
    <!--5 th part-->
    <div class="container well ">
      <p>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
          aria-expanded="false" aria-controls="collapseExample"><span class="glyphicon glyphicon-fullscreen"
            aria-hidden="true"></span>
        </button>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Section 5</span>
      </p>
      <div class="collapse" id="collapseExample">
        <div class="form-group col-md-12">
          <label for="formGroupExampleInput2"><span class="glyphicon glyphicon-record" aria-hidden="true"></span>State
            details of your brothers and sisters:</label>
          <br>
          (Please attach Letter of certification from Principal of the School or Registrar of the University /
          Institute)
          <br><br>
          <!--st1-->
          <div class="row">
            <div class="col-md-3"><label>Name :</label></div>
            <div class="col-md-1"><label>Age :</label></div>
            <div class="col-md-2"><label>Civil Status :</label></div>
            <div class="col-md-3"><label>School/ University/ Employment</label></div>
            <div class="col-md-3"><label>Upload File</label></div>
          </div>
          <label> ( 1 )</label>
          <div class="row">
            <div class="col-md-3"><input type="text" class="form-control" id="formGroupExampleInput2"
                placeholder="Name"></div>
            <div class="col-md-1"><input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Age">
            </div>
            <div class="col-md-2">
              <select id="inputState" class="form-control">
                <option selected>Civil Status</option>
                <option>Male</option>
                <option>Female</option>
              </select>
            </div>
            <div class="col-md-3"><input type="text" class="form-control" id="formGroupExampleInput2"
                placeholder="School/ University/ Employment"></div>
            <div class="col-md-3"><input class="custom-file-input" type="file" name="fileToUpload" id="fileToUpload">
            </div>
          </div>
          <!--st2-->
          <label> ( 2 )</label>
          <div class="row">
            <div class="col-md-3"><input type="text" class="form-control" id="formGroupExampleInput2"
                placeholder="Name"></div>
            <div class="col-md-1"><input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Age">
            </div>
            <div class="col-md-2">
              <select id="inputState" class="form-control">
                <option selected>Civil Status</option>
                <option>Male</option>
                <option>Female</option>
              </select>
            </div>
            <div class="col-md-3"><input type="text" class="form-control" id="formGroupExampleInput2"
                placeholder="School/ University/ Employment"></div>
            <div class="col-md-3"><input class="custom-file-input" type="file" name="fileToUpload" id="fileToUpload">
            </div>
          </div>
          <!--st3-->
          <label>( 3 )</label>
          <div class="row">
            <div class="col-md-3"><input type="text" class="form-control" id="formGroupExampleInput2"
                placeholder="Name"></div>
            <div class="col-md-1"><input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Age">
            </div>
            <div class="col-md-2">
              <select id="inputState" class="form-control">
                <option selected>Civil Status</option>
                <option>Male</option>
                <option>Female</option>
              </select>
            </div>
            <div class="col-md-3"><input type="text" class="form-control" id="formGroupExampleInput2"
                placeholder="School/ University/ Employment"></div>
            <div class="col-md-3"><input class="custom-file-input" type="file" name="fileToUpload" id="fileToUpload">
            </div>
          </div>
          <!--st4-->
          <label> ( 4 )</label>
          <div class="row">
            <div class="col-md-3"><input type="text" class="form-control" id="formGroupExampleInput2"
                placeholder="Name"></div>
            <div class="col-md-1"><input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Age">
            </div>
            <div class="col-md-2">
              <select id="inputState" class="form-control">
                <option selected>Civil Status</option>
                <option>Male</option>
                <option>Female</option>
              </select>
            </div>
            <div class="col-md-3"><input type="text" class="form-control" id="formGroupExampleInput2"
                placeholder="School/ University/ Employment"></div>
            <div class="col-md-3"><input class="custom-file-input" type="file" name="fileToUpload" id="fileToUpload">
            </div>
          </div>
          <!--st5-->
          <label> ( 5 )</label>
          <div class="row">
            <div class="col-md-3"><input type="text" class="form-control" id="formGroupExampleInput2"
                placeholder="Name"></div>
            <div class="col-md-1"><input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Age">
            </div>
            <div class="col-md-2">
              <select id="inputState" class="form-control">
                <option selected>Civil Status</option>
                <option>Male</option>
                <option>Female</option>
              </select>
            </div>
            <div class="col-md-3"><input type="text" class="form-control" id="formGroupExampleInput2"
                placeholder="School/ University/ Employment"></div>
            <div class="col-md-3"><input class="custom-file-input" type="file" name="fileToUpload" id="fileToUpload">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--6 th part-->
    <div class="container well ">
      <p>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample6"
          aria-expanded="false" aria-controls="collapseExample"><span class="glyphicon glyphicon-fullscreen"
            aria-hidden="true"></span>
        </button>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Section 6</span>
      </p>
      <div class="collapse" id="collapseExample6">
        <div class="form-group col-md-12">
          <label for="formGroupExampleInput2">Income derived from estates and cultivated land of your family:
          </label><br>
          <!--owner1-->
          <label> ( 1 )
            _________________________________________________________________________________________________</label>
          <div class="row">
            <div class="col-md-4">Name of Owner :<input type="text" class="form-control" id="formGroupExampleInput2"
                placeholder="Name of Owner"></div>
            <div class="col-md-4">Relationship :<input type="text" class="form-control" id="formGroupExampleInput2"
                placeholder="Relationship"></div>
            <div class="col-md-4">Location :<input type="text" class="form-control" id="formGroupExampleInput2"
                placeholder="Location"></div>

          </div>
          <div class="row">
            <div class="col-md-4">Nature of Cultivation :<input type="text" class="form-control"
                id="formGroupExampleInput2" placeholder="Nature of Cultivation"></div>
            <div class="col-md-4">Extent of Land Description of Property :<input type="text" class="form-control"
                id="formGroupExampleInput2" placeholder="Extent of Land Description of Property"></div>
            <div class="col-md-4">Annual Income Rs :<input type="text" class="form-control" id="formGroupExampleInput2"
                placeholder="Annual Income Rs"></div>

          </div>

          <!--owner2-->
          <label> ( 2 )
            _________________________________________________________________________________________________</label>
          <div class="row">
            <div class="col-md-4">Name of Owner :<input type="text" class="form-control" id="formGroupExampleInput2"
                placeholder="Name of Owner"></div>
            <div class="col-md-4">Relationship :<input type="text" class="form-control" id="formGroupExampleInput2"
                placeholder="Relationship"></div>
            <div class="col-md-4">Location :<input type="text" class="form-control" id="formGroupExampleInput2"
                placeholder="Location"></div>

          </div>
          <div class="row">
            <div class="col-md-4">Nature of Cultivation :<input type="text" class="form-control"
                id="formGroupExampleInput2" placeholder="Nature of Cultivation"></div>
            <div class="col-md-4">Extent of Land Description of Property :<input type="text" class="form-control"
                id="formGroupExampleInput2" placeholder="Extent of Land Description of Property"></div>
            <div class="col-md-4">Annual Income Rs :<input type="text" class="form-control" id="formGroupExampleInput2"
                placeholder="Annual Income Rs"></div>

          </div>

          <!--owner3-->
          <label> ( 3 )
            _________________________________________________________________________________________________</label>
          <div class="row">
            <div class="col-md-4">Name of Owner :<input type="text" class="form-control" id="formGroupExampleInput2"
                placeholder="Name of Owner"></div>
            <div class="col-md-4">Relationship :<input type="text" class="form-control" id="formGroupExampleInput2"
                placeholder="Relationship"></div>
            <div class="col-md-4">Location :<input type="text" class="form-control" id="formGroupExampleInput2"
                placeholder="Location"></div>

          </div>
          <div class="row">
            <div class="col-md-4">Nature of Cultivation :<input type="text" class="form-control"
                id="formGroupExampleInput2" placeholder="Nature of Cultivation"></div>
            <div class="col-md-4">Extent of Land Description of Property :<input type="text" class="form-control"
                id="formGroupExampleInput2" placeholder="Extent of Land Description of Property"></div>
            <div class="col-md-4">Annual Income Rs :<input type="text" class="form-control" id="formGroupExampleInput2"
                placeholder="Annual Income Rs"></div>

          </div>

          <!--owner4-->
          <label> ( 4 )
            _________________________________________________________________________________________________</label>
          <div class="row">
            <div class="col-md-4">Name of Owner :<input type="text" class="form-control" id="formGroupExampleInput2"
                placeholder="Name of Owner"></div>
            <div class="col-md-4">Relationship :<input type="text" class="form-control" id="formGroupExampleInput2"
                placeholder="Relationship"></div>
            <div class="col-md-4">Location :<input type="text" class="form-control" id="formGroupExampleInput2"
                placeholder="Location"></div>

          </div>
          <div class="row">
            <div class="col-md-4">Nature of Cultivation :<input type="text" class="form-control"
                id="formGroupExampleInput2" placeholder="Nature of Cultivation"></div>
            <div class="col-md-4">Extent of Land Description of Property :<input type="text" class="form-control"
                id="formGroupExampleInput2" placeholder="Extent of Land Description of Property"></div>
            <div class="col-md-4">Annual Income Rs :<input type="text" class="form-control" id="formGroupExampleInput2"
                placeholder="Annual Income Rs"></div>

          </div>


        </div>
      </div>
    </div>

    <!--7 th part-->
    <div class="container well ">
      <p>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample7"
          aria-expanded="false" aria-controls="collapseExample"><span class="glyphicon glyphicon-fullscreen"
            aria-hidden="true"></span>
        </button>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Section 7</span>
      </p>
      <div class="collapse" id="collapseExample7">
        <div class="form-group col-md-12">
          <label for="formGroupExampleInput2">Income derived from Houses of your family:
          </label><br>
          <!--owner1-->
          <label> ( 1 )
            _________________________________________________________________________________________________</label>
          <div class="row">
            <div class="col-md-3">Name of Owner :<input type="text" class="form-control" id="formGroupExampleInput2"
                placeholder="Name of Owner"></div>
            <div class="col-md-3">Relationship :<input type="text" class="form-control" id="formGroupExampleInput2"
                placeholder="Relationship"></div>
            <div class="col-md-3">Assessment No :<input type="text" class="form-control" id="formGroupExampleInput2"
                placeholder="Assessment No"></div>
            <div class="col-md-3">Chief House Holder’s No :<input type="text" class="form-control"
                id="formGroupExampleInput2" placeholder="Chief House Holder’s No"></div>

          </div>
          <div class="row">
            <div class="col-md-3">Address :<input type="text" class="form-control" id="formGroupExampleInput2"
                placeholder="Address"></div>
            <div class="col-md-3">Annual Income :<input type="text" class="form-control" id="formGroupExampleInput2"
                placeholder="Annual Income"></div>
            <div class="col-md-6">If rented/ leased names and addresses of tenants :<input type="text"
                class="form-control" id="formGroupExampleInput2"
                placeholder="If rented/ leased names and addresses of tenants"></div>

          </div>

          <!--owner2-->
          <label> ( 2 )
            _________________________________________________________________________________________________</label>
          <div class="row">
            <div class="col-md-3">Name of Owner :<input type="text" class="form-control" id="formGroupExampleInput2"
                placeholder="Name of Owner"></div>
            <div class="col-md-3">Relationship :<input type="text" class="form-control" id="formGroupExampleInput2"
                placeholder="Relationship"></div>
            <div class="col-md-3">Assessment No :<input type="text" class="form-control" id="formGroupExampleInput2"
                placeholder="Assessment No"></div>
            <div class="col-md-3">Chief House Holder’s No :<input type="text" class="form-control"
                id="formGroupExampleInput2" placeholder="Chief House Holder’s No"></div>

          </div>
          <div class="row">
            <div class="col-md-3">Address :<input type="text" class="form-control" id="formGroupExampleInput2"
                placeholder="Address"></div>
            <div class="col-md-3">Annual Income :<input type="text" class="form-control" id="formGroupExampleInput2"
                placeholder="Annual Income"></div>
            <div class="col-md-6">If rented/ leased names and addresses of tenants :<input type="text"
                class="form-control" id="formGroupExampleInput2"
                placeholder="If rented/ leased names and addresses of tenants"></div>

          </div>


          <!--owner3-->
          <label> ( 3 )
            _________________________________________________________________________________________________</label>
          <div class="row">
            <div class="col-md-3">Name of Owner :<input type="text" class="form-control" id="formGroupExampleInput2"
                placeholder="Name of Owner"></div>
            <div class="col-md-3">Relationship :<input type="text" class="form-control" id="formGroupExampleInput2"
                placeholder="Relationship"></div>
            <div class="col-md-3">Assessment No :<input type="text" class="form-control" id="formGroupExampleInput2"
                placeholder="Assessment No"></div>
            <div class="col-md-3">Chief House Holder’s No :<input type="text" class="form-control"
                id="formGroupExampleInput2" placeholder="Chief House Holder’s No"></div>

          </div>
          <div class="row">
            <div class="col-md-3">Address :<input type="text" class="form-control" id="formGroupExampleInput2"
                placeholder="Address"></div>
            <div class="col-md-3">Annual Income :<input type="text" class="form-control" id="formGroupExampleInput2"
                placeholder="Annual Income"></div>
            <div class="col-md-6">If rented/ leased names and addresses of tenants :<input type="text"
                class="form-control" id="formGroupExampleInput2"
                placeholder="If rented/ leased names and addresses of tenants"></div>

          </div>


        </div>
      </div>
    </div>
    <!-- 8 rd part -->
    <div class="container well ">
      <p>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample8"
          aria-expanded="false" aria-controls="collapseExample"><span class="glyphicon glyphicon-fullscreen"
            aria-hidden="true"></span>
        </button>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Section 8</span>
      </p>
      <div class="collapse" id="collapseExample8">
        <div class="form-group col-md-12">
          <label for="formGroupExampleInput2"><span class="glyphicon glyphicon-record" aria-hidden="true"></span>Fill in
            this section only if you are employed:
          </label>
          <br>
          <div class="form-group col-md-12">
            <label>Name and address of Institution / Department where you are employed : </label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          <div class="form-group col-md-6">
            <label>Post : </label>
            <input type="text" class="form-control" placeholder="Post">
          </div>
          <div class="form-group col-md-6">
            <label>Salary Scale : </label>
            <input type="text" class="form-control" placeholder="Salary Scale">
          </div>
          <div class="form-group col-md-6">
            <label>Salary : </label>
            <input type="text" class="form-control" placeholder="Salary">
          </div>
          <div class="form-group col-md-6">
            <label>Date of appointment : </label>
            <input type="text" class="form-control" placeholder="Date of appointment">
          </div>
        </div>
      </div>
    </div>

    <!-- 9 rd part -->
    <div class="container well ">
      <p>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample9"
          aria-expanded="false" aria-controls="collapseExample"><span class="glyphicon glyphicon-fullscreen"
            aria-hidden="true"></span>
        </button>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Section 9</span>
      </p>
      <div class="collapse" id="collapseExample9">
        <div class="form-group col-md-12">
          <label for="formGroupExampleInput2"><span class="glyphicon glyphicon-record" aria-hidden="true"></span>Fill in
            this section only if you are married:
          </label>
          <br>

          <div class="form-group col-md-6">
            <label>Date of marriage (annex marriage certificate) : </label>
            <input type="text" class="form-control" placeholder="Date of marriage">
          </div>
          <div class="form-group col-md-6">
            <label>Name of spouse : </label>
            <input type="text" class="form-control" placeholder="Name of spouse">
          </div>
          <div class="form-group col-md-6">
            <label>If spouse is employed name of institution where she/he is employed : </label>
            <input type="text" class="form-control" placeholder="institution">
          </div>
          <div class="form-group col-md-6">
            <label>Post held : </label>
            <input type="text" class="form-control" placeholder="Post held">
          </div>
          <div class="form-group col-md-6">
            <label>Present salary: (state the monthly salary inclusive of all allowances) : </label>
            <input type="text" class="form-control" placeholder="Present salary">
          </div>

        </div>
      </div>
    </div>

    <!-- 10 rd part -->
    <div class="container well ">
      <p>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample10"
          aria-expanded="false" aria-controls="collapseExample"><span class="glyphicon glyphicon-fullscreen"
            aria-hidden="true"></span>
        </button>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Section 10</span>
      </p>
      <div class="collapse" id="collapseExample10">
        <div class="form-group col-md-12">
          <label for="formGroupExampleInput2"><span class="glyphicon glyphicon-record" aria-hidden="true"></span>Whether
            you are a Sri Lankan Citizen or not :
          </label>
          <br>
          <div class="form-group col-md-6">
            <input type="text" class="form-control" placeholder="Yes / No">
          </div>

        </div>
      </div>
    </div>

    <!-- 11 rd part -->
    <div class="container well ">
      <p>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample11"
          aria-expanded="false" aria-controls="collapseExample"><span class="glyphicon glyphicon-fullscreen"
            aria-hidden="true"></span>
        </button>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Section 11</span>
      </p>
      <div class="collapse" id="collapseExample11">
        <div class="form-group col-md-12">
          <label for="formGroupExampleInput2"><span class="glyphicon glyphicon-record" aria-hidden="true"></span>Details
            of parents/Guardians: (Applicants presenting guardians should fill cage 12 in addition to this.)
          </label>
          <br>
          (a) Details of Father:
          <br>
          <div class="form-group col-md-12">
            <label>Full Name : </label>
            <input type="text" class="form-control" placeholder="Full Name">
          </div>
          <div class="form-group col-md-12">
            <div class="row">
              <div class="col-md-5">
                <label for="formGroupExampleInput2"> Whether living or deceased :
                </label>
              </div>
              <div class="col-md-7">
                <div class="form-check">
                  <input class="form-check-input custom-control-input" type="radio" name="exampleRadios"
                    id="exampleRadios1" value="option1" (click)=" fileaddYes()">
                  <label class="form-check-label" for="exampleRadios1">
                    <i>Yes</i>
                  </label>

                </div>
                <div class="form-check">
                  <input class="form-check-input custom-control-input" type="radio" name="exampleRadios"
                    id="exampleRadios2" value="option2" (click)=" fileaddNo()">
                  <label class="form-check-label" for="exampleRadios2">
                    <i>No</i>
                  </label>
                </div>
              </div>
            </div>
            <div *ngIf="fileAddView">
              <label>living, Age </label> <br>
              <div class="form-group col-md-3">
                <input type="text" class="form-control" placeholder="Years">
              </div>
              <div class="form-group col-md-3">
                <input type="text" class="form-control" placeholder="Months">
              </div>
            </div>

          </div>

          <div class="form-group col-md-6">
            <label for="formGroupExampleInput2"> Father’s Employment: </label>
            <input type="text" class="form-control" id="formGroupExampleInput2"
              placeholder="Father’s Employment">
          </div>
          <div class="form-group col-md-6">
            <label for="formGroupExampleInput2"> Address of present / previous employment: </label>
            <input type="text" class="form-control" id="formGroupExampleInput2"
              placeholder="Address of present / previous employment">
          </div>

        </div>
      </div>
    </div>


  </form>

</div>