<div class="home-block">

  <form>
      <div class="container  ">
          <div class="form-group col-md-12">
            <label for="formGroupExampleInput2"><h4><u>............................................  APPLICATION FOR SCHOLARSHIPS FROM STUDENT WELFARE AND DISTRESS FUND   ....................................</u></h4></label>
          </div>
    
        </div>
    <!-- 1 st part-->
    <div class="container well ">
      <div class="form-group col-md-6">
        <label for="formGroupExampleInput">Course for which applicant has been selected: </label>
        <select id="inputState" class="form-control">
          <option selected>Degree...</option>
          <option>BSc(Hons)in Software Engineering</option>
          <option>BSc(Hons)in Computer Science</option>
          <option>BSc in Computer Science</option>
          <option>BSc(Hons)in Information System</option>
          <option>BSc in Information System</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label for="formGroupExampleInput2">Full Name: </label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Mr./Miss./Mrs./Rev">
      </div>
      <div class="form-group col-md-12">
        <label for="formGroupExampleInput2">Permanent Address: </label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <div class="form-group col-md-6">
        <label for="formGroupExampleInput2">Registration Number: </label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Registration Number">
      </div>
      <div class="form-group col-md-6">
        <label for="formGroupExampleInput2">Contact Numbers: </label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Contact Numbers">
      </div>
      <div class="form-group col-md-6">
        <label for="formGroupExampleInput2"> Email Address: </label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Email Address">
      </div>
      <div class="form-group col-md-6">
        <label for="formGroupExampleInput2"> Division of the Gramaseva Niladhari: </label>
        <input type="text" class="form-control" id="formGroupExampleInput2"
          placeholder="Division of the Gramaseva Niladhari:">
      </div>
      <div class="form-group col-md-6">
        <label for="formGroupExampleInput2"> Write down the distance (to the closest kilometer) from your
          Permanent residence (i.e. your home) to the University of Colombo.
          (1 mile = 1.6 k.m.)
        </label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Ex-: 5km">
      </div>
      <div class="form-group col-md-6">
        <label for="formGroupExampleInput2"> District: </label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="District">
      </div>


    </div>

    <!-- 2 nd part -->
    <div class="container well ">
      <div class="form-group col-md-12">
        <label for="formGroupExampleInput2">Reason for applying for a Scholarship: </label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>
      </div>

    </div>
   <!-- 3 rd part -->
   <div class="container well ">
      <div class="form-group col-md-12">
        <label for="formGroupExampleInput2">If you are now receiving a scholarship or any other funds from the government or local 
            Government authorities or other institution or association, state the amount received and other details: 
             </label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>
      </div>

    </div>
  </form>

</div>