<hr/>
<div class="row">
  <div class="col-md-3">
    <label>.....................Distance.....................</label>
    <div class="well">
      <li><label>200km or above</label><input class="form-control" type="number" placeholder="Marks"  [(ngModel)]="distance1"></li>
      <li><label>199km – 150km</label><input class="form-control" type="number" placeholder="Marks" [(ngModel)]="distance2"></li>
      <li><label>149km – 100km</label><input class="form-control" type="number" placeholder="Marks" [(ngModel)]="distance3"></li>
      <li><label>99km – 70km</label><input class="form-control" type="number" placeholder="Marks" [(ngModel)]="distance4"></li>
      <li><label>69km – 40km</label><input class="form-control" type="number" placeholder="Marks" [(ngModel)]="distance5"></li>
      <li><label>39km – 30km</label><input class="form-control" type="number" placeholder="Marks" [(ngModel)]="distance6"></li>
    </div>

  </div>

  <div class="col-md-4 ">
      <label>............ Income Level (per Annum) (Rs.)............</label>
     
    <div class="well">
        <li><label>below 30000 (Samurdhi Recipient)</label><input class="form-control" type="number" placeholder="Marks" [(ngModel)]="Income1"></li>
        <li><label>30001 – 50000</label><input class="form-control" type="number" placeholder="Marks" [(ngModel)]="Income2"></li>
        <li><label>50001 – 100000</label><input class="form-control" type="number" placeholder="Marks" [(ngModel)]="Income3"></li>
        <li><label>100001 - 200000</label><input class="form-control" type="number" placeholder="Marks" [(ngModel)]="Income4"></li>
        <li><label>200001 - 300000</label><input class="form-control" type="number" placeholder="Marks" [(ngModel)]="Income5"></li>
        <li><label>300001 - 400000</label><input class="form-control" type="number" placeholder="Marks" [(ngModel)]="Income6"></li>
    </div>

  </div>

  <div class="col-md-5 ">
      <label>................................... For special reasons..................................</label>
      <div class="well">
          <li>Either father or mother dead<input class="form-control" type="number" placeholder="Marks" [(ngModel)]="special2"></li>
          <li>Father or mother unemployed, Disable<input class="form-control" type="number" placeholder="Marks" [(ngModel)]="special3"></li>
          <li>Sister/brother following a course in a University(for one)<input class="form-control" type="number" placeholder="Marks" [(ngModel)]="special4"></li>
          <li>(for more than two)<input class="form-control" type="number" placeholder="Marks" [(ngModel)]="special5"></li>
          <li>School going sister/brother who is 18 years or under(for one)<input class="form-control" type="number" placeholder="Marks" [(ngModel)]="special6"></li>
          <li>(for more than two)<input class="form-control" type="number" placeholder="Marks" [(ngModel)]="special7"></li>
      </div>
      .....<button type="button" class="btn btn-info" (click)="setDefault()">Set Default</button>....<button type="button" class="btn btn-info" (click)="sasa()" >Rank Student</button>.....<button type="button" class="btn btn-info" (click)="clearAll()">Clear All</button>....
  </div>
</div>
<div>
  admin-for-welfare-schol works!
  <hr />
  <ul>
    <li>Student_id - - Student_name - - Distance </li>
  </ul>
  <hr />
  <ul *ngFor="let student of students">
    <li>{{student.regNumber}} - - {{student.fullName}} - - {{student.distance}}</li>
  </ul>
  <hr />
  <button (click)="sasa()">sasa</button>
  <input type="text" name="sdf" [(ngModel)]="FatherMonth">

  <ul *ngFor="let studentob of listOfStudents">
    <li>{{studentob.StudentId}} - - {{studentob.StudentName}} - - {{studentob.Distance}}</li>
  </ul>
</div>
<!--{{studentob.StudentId}}  -  -  {{studentob.StudentName}} - - {{studentob.Distance}}-->