<section class="home-block">
  
    <div class="box" *ngFor="let itm of arr">
      <div class="container">
       
            <div class="box-part text-center">
  
              <i class="fa fa-behance fa-3x" aria-hidden="true"></i>
  
              <div class="title">
                <h4><b>{{itm._id}}</b></h4>
              </div>
  
              <div class="text">
                <span><a href="admin/ifs/{{itm._id}}">Application Form</a></span>
              </div>
  
              
  
            </div>
         
      </div>
    </div>
  </section>