<nav class="navbar navbar-inverse navbar-expand-lg">
    <a class=" navbar-brand " href="# ">UCSC Examination Branch</a>
    <button class="navbar-toggler " type="button " data-toggle="collapse " data-target="#navbarSupportedContent " aria-controls="navbarSupportedContent " aria-expanded="false " aria-label="Toggle navigation ">
<span class="navbar-toggler-icon "></span>
</button>

    <div class="collapse navbar-collapse " id="navbarSupportedContent ">
        <ul class="navbar-nav mr-auto ">
            <li class="nav-item "><a class="nav-link " routerLink="/adminstudent" routerLinkActive="active "><span class="glyphicon glyphicon-folder-open mr-1"></span>Student details</a></li>
            <li class="nav-item "><a class="nav-link " routerLink="/paymentsSave" routerLinkActive="active "><span class="glyphicon glyphicon-envelope mr-1"></span>Payment details</a></li>
            <li class="nav-item "><a class="nav-link " routerLink="/adminForum" routerLinkActive="active "><span class="glyphicon glyphicon-comment mr-1"></span>Forum</a></li>
            <!--<li class="nav-item "><a class="nav-link " routerLink="/homepagedfs" routerLinkActive="active ">Anouncement</a></li>
        <li class="nav-item "><a class="nav-link " routerLink="/homepagefds" routerLinkActive="active ">Contact us</a></li>-->
        </ul>

    </div>
    <ul class="nav navbar-nav navbar-right">
        <li><a class="nav-link" routerLink="/adminProfile" routerLinkActive="active"><span class="glyphicon glyphicon-user"></span>Profile settings</a></li>
        <li><a class="nav-link" routerLink="/login" routerLinkActive="active"><span class="glyphicon glyphicon-log-in"></span> LogOut</a></li>
    </ul>
</nav>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-1"><img src="/assets/simbol.jpg" alt="Los Angeles" width="50" height="50"></div>
    <div class="col-md-10 w3-animate-fading">
        <h3><b>Undergraduate Student's Scholarships University of Colombo School of Computing</b></h3>
    </div>
</div>