<div class="home-block">

    
  
  <div class="container justify-content-center ">
    <div class="form-group">
      <label for="formGroupExampleInput2">
        <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<u>............................................ APPLICATION FOR IFS SCHOLARSHIPS ....................................</u></h4>
      </label>
    </div>

  </div>
  
  <div class="container">
    
      <div class="box" *ngFor="let itm of cnlist  | slice:1; ">
          <div class="container">
           
                <div class="box-part text-center">
      
                  <i class="fa fa-behance fa-3x" aria-hidden="true"></i>
      
                  <div class="title">
                    <h4><b>{{itm._id}}</b></h4>
                  </div>
                  <div>
                    <h5>{{itm.fullName}}</h5>
                  </div>
                  <div class="text">
                    <span><a href="admin/ifs/clist/list/{{itm._id}}">Application Form</a></span>
                  </div>
      
                  
      
                </div>
             
          </div>
        </div>
      
  </div>

  </div>