<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h1>Application Details</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <table>
                <h3>Personal details</h3>
                <tr>
                    <td>Batch</td>
                </tr>
                <tr>
                    <td>Degree</td>
                </tr>
                <tr>
                    <td>Reg. No.</td>
                </tr>
                <tr>
                    <td>Batch</td>
                </tr>
                <tr>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>email</td>
                </tr>


            </table>

            <table>
                <h3>Address</h3>
                <tr>
                    <td>Division Gramasevaniladari</td>
                </tr>
                <tr>
                    <td>Distance</td>
                </tr>
                <tr>
                    <td>District</td>
                </tr>



            </table>
        </div>
        <div class="col-md-4">
            <table>
                <h3>Other Scholarships</h3>
                <tr>
                    <td>Batch</td>
                </tr>
                <tr>
                    <td>Samudhi</td>
                </tr>
                <tr>
                    <td>Batch</td>
                </tr>
                <tr>
                    <td>Name</td>
                </tr>
                <tr>
                    <td>email</td>
                </tr>


            </table>
            <h3>Family details</h3>
            <table>

                <tr>
                    <td>Brother</td>
                </tr>
                <tr>
                    <td>Civil status</td>
                </tr>
                <tr>
                    <td>Age</td>
                </tr>
                <tr>
                    <td>University</td>
                </tr>



            </table>
            <hr>
            <table>

                <tr>
                    <td>Brother</td>
                </tr>
                <tr>
                    <td>Civil status</td>
                </tr>
                <tr>
                    <td>Age</td>
                </tr>
                <tr>
                    <td>University</td>
                </tr>



            </table>
            <hr>
            <table>

                <tr>
                    <td>Brother</td>
                </tr>
                <tr>
                    <td>Civil status</td>
                </tr>
                <tr>
                    <td>Age</td>
                </tr>
                <tr>
                    <td>University</td>
                </tr>



            </table>
        </div>
    </div>
</div>