<div class="panel-header panel-header-sm">
  </div>
  <div class="panel-header">
      <div class="header text-center">
          <h2 class="title">IFS Scholarship</h2>
          <h2><p class="category">Application List</p></h2>
         
      </div>
  </div>
  <div class="main-content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
         
        
            
<div class="search-div">
  <button mat-raised-button (click)="onCreate()" >
    <mat-icon>visibility</mat-icon>Add
    </button>
    <mat-form-field class="search-form-field" floatLabel="never">
        <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
        <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="searchKey"  (click)="onSearchClear()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
  </div>
<div class="mat-elevation-z8">
  <mat-table [dataSource]="listData" matSort>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
        <mat-cell *matCellDef="let element"  >{{element.status}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="marks">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Marks</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.marks}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        
          <button mat-icon-button (click)="onEdit(row)"><mat-icon>edit</mat-icon></button>
      </mat-cell>
    </ng-container>
    
    
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    
  </mat-table>
  <mat-paginator [pageSizeOptions]="[2,5,10,25]" [pageSize]="5" showFirstLastButtons></mat-paginator>
</div>
</div>
</div>
</div>
</div>
