<div class="panel-header panel-header-sm">
    <div class="container text-left">
        <button class="btn btn-default btn-icon btn-round btn-lg" type="button">
            <i class="now-ui-icons ui-2_favourite-28"></i>
        </button>
    </div>
    </div>
    <div class="main-content">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header text-left">
               
            </div>
            <div class="card-body all-icons">
              <div class="row">
                
    
                  <div class="container justify-content-center ">
                      <div class="form-group">
                        <label for="formGroupExampleInput2">
                          <h4>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<u>...........................
                              MARK SHEET .....................</u></h4>
                        </label>
                      </div>
      
                    </div>
    
    
  

<div class="container">
  <form #arrForm="ngForm" class="arrForm" novalidate>
    <div class='row'>
      <div class='col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8'>
        <div class="row">
          <div class='col-xs-12 col-sm-3'>
            <div class="form-group">
              <label class="control-label" for="registration">Distance</label>
              <input class="form-control input-md" value="{{candiate.distance}}">

            </div>
          </div>
          <div class='col-xs-12 col-sm-3'>

            <label class="control-label" for="fullName">Range</label> <br>
            <p>
            <span class="badge badge-success">{{range1}}</span></p>
          </div>

          <div class='col-xs-12 col-sm-6'>
            <div class="form-group">
              <label class="control-label" for="fullName">Marks</label>
              <input class="form-control input-md" name="mark1" #mark1="ngModel" [(ngModel)]="mrk1">
              <div class="alert alert-danger" [hidden]="mark1.valid">course Number is required</div>
            </div>
          </div>
        </div>



        <div class="row">
          <div class='col-xs-12 col-sm-3'>
            <div class="form-group">
              <label class="control-label" for="registration">Income Level</label>
              <input class="form-control input-md" value="{{total}}">

            </div>
          </div>
          <div class='col-xs-12 col-sm-3'>

            <label class="control-label" for="fullName">Range</label> <br>
            <p>
                <span class="badge badge-warning">{{range2}}</span></p>
    

          </div>

          <div class='col-xs-12 col-sm-6'>
            <div class="form-group">
              <label class="control-label" for="fullName">Marks</label>
              <input class="form-control input-md" name="mark2" #mark2="ngModel" [(ngModel)]="mrk2">
              <div class="alert alert-danger" [hidden]="mark2.valid">course Number is required</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class='col-xs-12 col-sm-6'>
            <div class="form-group">
              <label class="control-label" for="registration">For special reasons related to parents:</label>
              <input class="form-control input-md" value="{{state}}">

            </div>
          </div>
          <div class='col-xs-12 col-sm-6'>
            <div class="form-group">
              <label class="control-label" for="fullName">Marks</label>
              <input class="form-control input-md" name="mark3" #mark3="ngModel" [(ngModel)]="mrk3">
              <div class="alert alert-danger" [hidden]="mark3.valid">course Number is required</div>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="card-header">
                <h4 class="card-title"> Special reasons related to sibilings</h4>
              </div>
              <div class="card-body">
                <div class="table">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>
                        Name
                      </th>
                      <th>
                          Date of Birth/age
                      </th>
                      <th>
                          School or Institute
                      </th>
                      <th >
                          University Details
                      </th>
                      <th>
                          Scholarship owner
                      </th>
                      <th>
                          Whether employed
                      </th>
                    </thead>
                    <tbody>
      
            <tr *ngFor="let i of sibil; index as j">
              <td>{{i.name}}</td>
              <td>{{i.dob}}</td>
              <td>{{i.school}}</td>
              <td>`{{i.registration}} <br> {{i.course}} {{i.year}}</td>
              <td>{{i.scholar}}</td>
              <td>{{i.employed}}</td>

            </tr>
            </tbody>
          </table>
          </div>
          </div>
        </div>
        <h4>Category 1</h4>
        <div class="row">


          <div class='col-xs-12 col-sm-6'>
            <div class="form-group">
              <label></label>
              <p>Sister/brother following a course in a <br>
                University</p>
            </div>
          </div>
          <div class='col-xs-12 col-sm-2'>
            <div class="form-group">
              <label class="control-label" for="fullName">Amount</label>
              <input class="form-control input-md" type="text" name="count1" #count1="ngModel"
                [(ngModel)]="sibilng.count1">

            </div>
          </div>
          <div class='col-xs-12 col-sm-2'>
            <div class="form-group">
              <label class="control-label" for="fullName">Points</label>
             <p> <span class="badge badge-info">{{cat1}}</span></p>

            </div>
          </div>
          <div class='col-xs-12 col-sm-2'>
            <div class="form-group">
              <label class="control-label" for="fullName">Marks</label>
              <input class="form-control input-md" type="text" value="{{(crt.sibil1*1*sibilng.count1*1)}}">

            </div>
          </div>
        </div>
        <h4>Category 2</h4>
        <div class="row">


          <div class='col-xs-12 col-sm-6'>
            <div class="form-group">
              <label></label>
              <p>School going sister/brother who is 18 <br>
                years or under</p>
            </div>
          </div>
          <div class='col-xs-12 col-sm-2'>
            <div class="form-group">
              <label class="control-label" for="fullName">Amount</label>
              <input class="form-control input-md" type="text" name="count2" #count2="ngModel"
                [(ngModel)]="sibilng.count2">

            </div>
          </div>
          <div class='col-xs-12 col-sm-2'>
            <div class="form-group">
              <label class="control-label" for="fullName">Points</label>
              <p> <span class="badge badge-info">{{cat2}}</span></p>

            </div>
          </div>
          <div class='col-xs-12 col-sm-2'>
            <div class="form-group">
              <label class="control-label" for="fullName">Marks</label>
              <input class="form-control input-md" type="text" value="{{(crt.sibil2*1*sibilng.count2*1)}}" >

            </div>
          </div>
        </div>
        <div class="row">
          <div class='col-xs-12 col-sm-6'>
            <div class="form-group">
              <label></label>
              <p>Total points for special reasons related to siblings</p>
            </div>
          </div>
          <div class="col-xs-12 col-md-2"></div>
          <div class='col-xs-12 col-sm-4'>
            <div class="form-group">
              <label class="control-label" for="fullName">Marks</label>
              <input class="form-control input-md" type="text" name="mark4" #mark4="ngModel" [(ngModel)]="mrk4" value="{{(crt.sibil2*1*sibilng.count2*1+crt.sibil1*1*sibilng.count1*1)}}">

            </div>
          </div>
        </div>
        <div class="row">
            <div class='col-xs-12 col-sm-6'>
              <div class="form-group">
                <label></label>
                <p>Final Marks </p>
              </div>
            </div>
            <div class="col-xs-12 col-md-2"></div>
            <div class='col-xs-12 col-sm-4'>
              <div class="form-group">
                <label class="control-label" for="fullName">Marks</label>
                <input class="form-control input-md" type="text" name="mark4" #mark4="ngModel" [(ngModel)]="mrk4" value="{{(crt.sibil2*1*sibilng.count2*1+crt.sibil1*1*sibilng.count1*1)+mrk1*1+mrk2*1+mrk3*1}}">
  
              </div>
            </div>
          </div>
       
      </div>

    </div>
    <div class="form-group text-center">
        <button class="btn btn-success btn-round btn-info" (click)="submit()"> Submit <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span></button>
    </div>
  </form>
</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  