.home-block{
    background: rgb(71, 45, 45);  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, rgb(138, 56, 5), rgb(63, 58, 58));  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, rgb(139, 53, 0),  rgb(63, 58, 58)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
float:left;
width:100%;
padding : 50px 0;
}