<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h1>Scholars' payments</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <form [formGroup]="form" class="form-inline ml-3" (submit)="getStudents()">
                <div class="form-group mb-2">
                    <label for="staticEmail2">Batch(Please enter in the given format)</label>
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <input type="text" class="form-control" id="inputPassword2" formControlName="batch" placeholder="2013/2014">
                </div>
                <button type="submit" class="btn btn-primary mb-2">View</button>
            </form>

            <form [formGroup]="paymentForm" class="form-inline ml-3" (submit)="paymentSave()">
                <table style="border-collapse: separate;border-spacing: 0 1em;">

                    <tr class="mb-2 mt-3">
                        <td class="mb-2 mt-3"><label for="staticEmail2">Amount(Rs.)</label></td>
                        <td class="mb-2 mt-3"><input type="text" class="form-control" id="inputPassword2" formControlName="amount" placeholder="5000"></td>

                    </tr>

                    <tr class="mb-2 mt-3">

                        <td class="mb-2 mt-3">
                            <label for="staticEmail2">Term</label>
                        </td>
                        <td class="mb-2 mt-3">
                            <input type="number" class="form-control" id="inputPassword2" formControlName="term" min="0">

                        </td>
                    </tr>
                    <tr class="mb-2 mt-3">

                        <td class="mb-2 mt-3">
                            <button type="submit" class="btn btn-primary mb-2">Save</button>
                        </td>
                        <td class="mb-2 mt-3">
                            <button type="reset" class="btn btn-primary mb-2">Cancel</button>

                        </td>
                    </tr>
                </table>
            </form>
            <app-notification></app-notification>
        </div>
        <div class="col-md-7">
            <div style="height:350px;overflow-y: scroll">
                <table class="table">
                    {{this.headerTitle}}
                    <thead>
                        <tr>
                            <th scope="col"></th>

                            <th scope="col">Registration Number</th>

                            <th scope="col">Name</th>
                            <th scope="col">Batch</th>
                            <th scope="col">Degree</th>
                            <th scope="col"></th>
                            <th scope="col"></th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let applicant of this.applicants; let i = index">
                            <td><input type="checkbox" value="{{ applicant._id }}" (change)="getUserSelect($event,i)"></td>

                            <td scope="row">{{applicant.regNumber}}</td>
                            <td>{{applicant.fullName}}</td>
                            <td>{{applicant.batch}}</td>
                            <td>{{applicant.degree}}</td>
                            <td><a class="btn btn-primary" routerLink="/paymentdetialsapplicant/{{applicant._id}}">View</a></td>

                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>